@media screen and (min-width: 0px) {
  .home {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .home_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home_header {
    width: 100%;
    margin-bottom: 72px;
    height: fit-content;
    z-index: -1;
  }

  .home_shopNowButton {
    background-color: var(--ende-yellow); 
    border: none;
    box-shadow: none;
    width: 100px;
    height: 1.8rem;
    z-index: 10;
    margin-left: 2rem;
    font-size: 18px;
    font-weight: 100;
    color: rgba(0,0,0,0.65);
  }
  .home_image {
    width: 100%;
    z-index: -1;
    margin-bottom: -75px;
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.6)); */
  }

  .home_row {
    display: flex;
    z-index: 1;
  }
}
/* 
640
768
1024
1280
1536
*/
@media screen and (min-width: 640px) {
  .home_header {
  }
  .home_image {
    opacity: 0.5;
    margin-bottom: -575px;
  }
  .home_shopNowButton {
  }
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 1536px) {

}